body {
  margin: 0;
  padding: 0;
  background-color: #eae2b7;
}

h1 {
  text-align: center;
}

h1, h2, p, a {
  margin: 10px;
  color: #003049;
  font-family: Tahoma, sans-serif;
}

header {
  margin: 0;
  padding: 0;
  background-color: #fcbf49;
}

nav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #fcbf49;
}

nav li {
  float: left;
}

nav li a {
  display: block;
  color: #d62828;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

nav li a:hover {
  background-color: #f77f00;
}
